<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/extras/spring-security">

<meta charset="UTF-8">

<head>
    <title>Витрина товаров</title>
</head>

<body>
    <a th:href="@{/shop/orders}" style="float:right;">
        <b>ЗАКАЗЫ &cudarrr;</b>
    </a>
    <a th:href="@{/shop/cart}" style="float:right;">
        <b>КОРЗИНА &cudarrr;</b>
    </a>
    <a th:href="@{/shop}" style="float:right;">
        <b>ГЛАВНАЯ &cudarrr;</b>
    </a>
    <div style="width:70%;margin-left:auto;margin-right:auto;">
        <p>
                <span th:if="${product.getImgName() != null and !#strings.isEmpty(product.getImgName())}">
                    <img height="300" th:src="@{/images/{filename} (filename = ${product.getImgName()})}"/>
                </span>
        </p>
        <p>
            <b th:text="${product.getName()}"></b>
            <b th:text="${product.getPrice()}" style="text-align:right;"></b>
        </p>
        <p>
            <span th:text="${product.getDescription()}"></span>
        </p>
        <form th:action="@{/shop/change/{id} (id = ${product.getId()})}" method="post" sec:authorize="isAuthenticated()">
            <input type="hidden" name="redirect" value="main"/>
            <button name="action" th:if="${product.getCount() > 0}" value="minus">-</button>
            <span th:text="${product.getCount()}"></span>
            <button name="action" value="plus">+</button>
        </form>
    </div>
</body>

</html>
