<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Витрина товаров</title>
</head>

<body>
    <a th:href="@{/shop/orders}" style="float:right;">
        <b>ЗАКАЗЫ &cudarrr;</b>
    </a>
    <a th:href="@{/shop/cart}" style="float:right;">
        <b>КОРЗИНА &cudarrr;</b>
    </a>
    <table style="width:70%;margin-left:auto;margin-right:auto;">
        <tr>
            <td>
                <form>
                    <p>
                        <label for="search">Найти: </label>
                        <input id="search" style="width:300px;" name="search" th:value="${name}">
                        <button name="action">&#128269;</button>
                    </p>
                    <p>
                        <label for="sort">Сортировка: </label>
                        <select id="sort" name="sort" onchange="this.form.submit()">
                            <option value="NO" th:selected="${sort == 'NO'}">нет</option>
                            <option value="ALPHA" th:selected="${sort == 'ALPHA'}">по алфавиту</option>
                            <option value="PRICE" th:selected="${sort == 'PRICE'}">по цене</option>
                        </select>
                    </p>
                    <p>
                        <label for="pageSize">Число товаров: </label>
                        <select id="pageSize" name="pageSize" onchange="this.form.submit()">
                            <option value="5" th:selected="${pageSize == 5}">5</option>
                            <option value="10" th:selected="${pageSize == 10}">10</option>
                            <option value="20" th:selected="${pageSize == 20}">20</option>
                            <option value="50" th:selected="${pageSize == 50}">50</option>
                            <option value="100" th:selected="${pageSize == 100}">100</option>
                        </select>
                    </p>
                    <p>
                        <button th:if="${pageNumber > 0}" name="pageNumber" th:value="${pageNumber - 1}">&lt;</button>
                        <span th:text="'Страница ' +  ${pageNumber + 1}"></span>
                        <button th:if="${pageNumber < totalPages - 1}" name="pageNumber" th:value="${pageNumber + 1}">&gt;</button>
                    </p>
                </form>
            </td>
        </tr>
        <tr th:each="product: ${products}">
            <td>
                <table>
                    <tr>
                        <td>
                            <a th:href="@{/shop/{id} (id = ${product.getId()})}">
                                <span th:if="${product.getImgName() != null and !#strings.isEmpty(product.getImgName())}">
                                    <img height="300" th:src="@{/images/{filename} (filename = ${product.getImgName()})}"/>
                                </span>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b th:text="${product.getName()}"></b>
                        </td>
                        <td>
                            <b th:text="${product.getPrice()}"></b>
                        </td>
                    </tr>
                    <tr>
                        <td th:text="${product.getDescription()}"></td>
                    </tr>
                    <tr>
                        <td>
                            <form th:action="@{/shop/change/{id} (id = ${product.getId()})}" method="post">
                                <input type="hidden" name="redirect" value="main"/>
                                <button name="action" th:if="${product.getCount() > 0}" value="minus">-</button>
                                <span th:text="${product.getCount()}"></span>
                                <button name="action" value="plus">+</button>
                            </form>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>

</html>
