<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Заказ</title>
</head>

<body>
<!-- В href ссылка на страницу заказов -->
<a href="..." style="float:right;">
    <b>ЗАКАЗЫ &cudarrr;</b>
</a>
<!-- В href ссылка на корзину -->
<a href="..." style="float:right;">
    <b>КОРЗИНА &cudarrr;</b>
</a>
<!-- В href ссылка на главную страницу -->
<a href="..." style="float:right;">
    <b>ГЛАВНАЯ &cudarrr;</b>
</a>
<!-- В if true, если перешли со страницы оформления заказа, false в остальных случаях -->
<h1 style="text-align:center" th:if="...">Поздравляем! Успешная покупка! &#128578;</h1>
<table style="width:70%;margin-left:auto;margin-right:auto;">
    <tr>
        <td>
            <!-- В text номер заказа -->
            <h2 th:text="..."></h2>
        </td>
    </tr>
    <!-- Итерируемся по товарам из заказа -->
    <tr th:each="...">
        <td>
            <table>
                <tr>
                    <td>
                        <!-- В href ссылка на страницу с карточкой товара -->
                        <a th:href="...">
                            <!-- В src ссылка изображение товара -->
                            <img width="300" height="300" th:src="...">
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <!-- В text название товара -->
                        <b th:text="..."></b>
                    </td>
                    <td>
                        <!-- В text описание товара -->
                        <b th:text="..."></b>
                    </td>
                    <td>
                        <!-- В text цена товара -->
                        <b th:text="..."></b>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <!-- В text общая сумма заказа -->
            <h3 th:text="..."></h3>
        </td>
    </tr>
</table>
</body>

</html>
