<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Заказ</title>
</head>

<body>
<a th:href="@{/shop/orders}" style="float:right;">
    <b>ЗАКАЗЫ &cudarrr;</b>
</a>
<a th:href="@{/shop/cart}" style="float:right;">
    <b>КОРЗИНА &cudarrr;</b>
</a>
<a th:href="@{/shop}" style="float:right;">
    <b>ГЛАВНАЯ &cudarrr;</b>
</a>
<table style="width:70%;margin-left:auto;margin-right:auto;">
    <tr>
        <td>
            <h2 th:text="'Заказ номер ' + ${orderId}"></h2>
        </td>
    </tr>
    <tr th:each="product: ${products}">
        <td>
            <table>
                <tr>
                    <td>
                        <a th:href="@{/shop/{id} (id = ${product.getId()})}">
                                <span th:if="${product.getImgName() != null and !#strings.isEmpty(product.getImgName())}">
                                    <img height="300" th:src="@{/images/{filename} (filename = ${product.getImgName()})}"/>
                                </span>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <b th:text="${product.getName()}"></b>
                    </td>
                    <td>
                        <b th:text="${product.getDescription()}"></b>
                    </td>
                    <td>
                        <b th:text="${product.getPrice()}"></b>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <h3 th:text="${sum}"></h3>
        </td>
    </tr>
</table>
</body>

</html>
