<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<meta charset="UTF-8">

<head>
    <title>Заказы</title>
</head>

<body>
<a th:href="@{/shop/cart}" style="float:right;">
    <b>КОРЗИНА &cudarrr;</b>
</a>
<a th:href="@{/shop}" style="float:right;">
    <b>ГЛАВНАЯ &cudarrr;</b>
</a>
<table style="width:70%;margin-left:auto;margin-right:auto;">
    <tr th:each="order: ${orders}">
        <td>
            <h2>
                <a th:text="'Заказ номер ' + ${order.getId()}" th:href="@{/shop/orders/{id} (id = ${order.getId()})}"></a>
            </h2>
            <table>
                <tr th:each="product: ${order.getItems()}">
                    <td th:text="${product.getProduct().getName()} + ', ' + ${product.getQuantity()} + ' шт., цена: ' +  ${product.getSum()}"></td>
                </tr>
            </table>
            <p>
                <b th:text="${order.getSum()}"></b>
            </p>
        </td>
    </tr>
</table>
</body>

</html>
